body {
  background-color: black;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .secret {
    border-radius: 5px solid;
    margin-top: 20px;
    margin-left: 80px;
    justify-content: center;
  }
  .scrollwrapper {
    position: fixed; /* Fix the navbar to the top of the page */
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Make sure the navbar is above other content */
    overflow-y: auto; /* Enable scrolling for long navbar items */
  }
  